.card {
    box-sizing: border-box;
    margin-bottom: 2rem;
    background: rgb(250,250,250);
    box-shadow: 1px 1px 5px rgba(20,20,20,.1);

    & * {
        box-sizing: inherit;
    }

    h2 {
        margin: 0;
        padding: 1rem 2rem;
        border-bottom: 2px solid $off-white;
    }

    .card-content {
        padding: 2rem;
    }
}