.row {
    display: flex;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}


.card {
    box-sizing: border-box;
    margin-bottom: 2rem;
    background: rgb(250,250,250);
    box-shadow: 1px 1px 5px rgba(20,20,20,.1);

    & * {
        box-sizing: inherit;
    }

    &[data-size="two-col"] {
        width: 47.5%;
        margin-right: 2.5%;
        float: left;

        &:nth-child(2) {
            margin-right: 0;
            margin-left: 2.5%;
        }
    }

    h2 {
        margin: 0;
        padding: 1rem 2rem;
        border-bottom: 2px solid $off-white;
    }

    .card-content {
        padding: 2rem;
    }

    .card-data {
        h3 {
            margin: .5rem;
            font-size: 2rem;
            text-align: center;
            color: #5C6170;
            font-weight: 300;
        }
    }
}